<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script src="/javascripts/phaser.js"></script>
<script src="/javascripts/objets/player.js"></script>
<script src="/javascripts/objets/world.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/initGame.js"></script>